__pycache__

.config/conky/.conkycolors

.config/nvim/.netrwhist
.config/nvim/spell

.config/zsh/.zshrc.zwc
.config/zsh/.zcompdump

.config/mpd/database
.config/mpd/playlists
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql

.config/ranger/plugins/*

.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-manager.xml
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml

.config/task/*.data
