
call plug#begin('~/.config/nvim/plugged')
	Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
	Plug 'junegunn/fzf.vim'
	Plug 'andymass/vim-matchup'
	Plug 'godlygeek/tabular'
	Plug 'kien/ctrlp.vim'
call plug#end()


let mapleader=" "
set backspace=indent,eol,start
set colorcolumn=80
set cursorline
set encoding=utf-8
set hlsearch
set noexpandtab tabstop=4 shiftwidth=4
set noshowmode
set nowrap
set nu rnu
set showcmd
set smartcase
set smartindent
set FZF

set surround
set highlightedyank
let g:highlightedyank_highlight_duration = '250'
let g:highlightedyank_highlight_color = 'rgba(163, 190, 140, 155)'

set matchup
set tabular

" Copy to clipboard
vnoremap  <leader>y   "+y
nnoremap  <leader>Y   "+yg_
nnoremap  <leader>y   "+y
nnoremap  <leader>yy  "+yy

" Paste from clipboard
nnoremap <leader>p    "+p
nnoremap <leader>P    "+P
vnoremap <leader>p    "+p
vnoremap <leader>P    "+P


nmap gD             <Action>(GotoImplementation)
nmap gd             <Action>(GotoDeclaration)
nmap gf             <Action>(GotoFile)
nmap g[             <Action>(GotoPreviousError)
nmap g]             <Action>(GotoNextError)
nmap <space>r viw   <Action>(Replace)
vmap <space>r       <Action>(Replace)
vmap <c-n>          <Action>(SelectNextOccurrence)
nmap <c-w>q         <Action>(CloseEditor)
nmap <c-w>w         <Action>(Switcher)
map  <space><space> <Action>(SearchEverywhere)
map <leader>gu      <Action>(Vcs.RollbackChangedLines)
map <leader>gn      <Action>(VcsShowNextChangeMarker)
map <leader>gN      <Action>(VcsShowPrevChangeMarker)

command Goya         action ToggleDistractionFreeMode
command W            action Switcher
command Diff         action LocalHistory.ShowHistory
command Gdiffb       action Vcs.ShowHistoryForBlock
command Wrap         action EditorToggleUseSoftWraps

nnoremap <leader>" ea"<Esc>Bi"<Esc>
nnoremap <leader>' ea'<Esc>Bi'<Esc>
nnoremap <leader>` ea`<Esc>Bi`<Esc>

map <leader>b <Action>(ToggleLineBreakpoint)

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq