[ -f "$HOME/.profile" ] && . "$HOME/.profile"

pulseaudio -D &
pasystray &

nm-applet &
xfce4-power-manager &
pamac-tray &
barrier &
clipmenud &
xautolock -time 10 -locker blurlock -corners +--- &
fix_xcursor &
nitrogen --restore; sleep 1; compton -b &

fix_touchpad &
xset r rate 195 55 &
