configuration {
	font: "Fira Code 12";
    fake-transparency: true;
    combi-hide-mode-prefix: true;
    kb-mode-next: "Alt+Right,Control+Tab";
    kb-mode-previous: "Alt+Left,Control+ISO_Left_Tab";
	show-icons: true;
	matching: "regex";
	tokenize: true;
}

@theme "nord"

