[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nik/chia]
row=6
col=0

[/home/nik/hdd0-linux]
row=7
col=0

[/home/nik/Arduino]
row=5
col=1

[/home/nik/Mail]
row=6
col=1

[/home/nik/Music]
row=2
col=1

[/home/nik/hdd0-win]
row=8
col=0

[/home/nik/dataplus]
row=5
col=0

[/home/nik/Android]
row=4
col=0

[/home/nik/zen]
row=0
col=1

[/home/nik/Documents]
row=1
col=1

[/home/nik/Videos]
row=3
col=1

[/home/nik/Monero]
row=4
col=1

[/home/nik/Downloads]
row=8
col=1

[/home/nik/Games]
row=7
col=1

[/home/nik/Pictures]
row=0
col=2

[185CF7D85CF7AE9E]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/nik]
row=3
col=0

