[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nik/Games]
row=4
col=0

[/home/nik/Desktop]
row=1
col=0

[/home/nik/Downloads]
row=3
col=0

[/home/nik/Code]
row=0
col=0

[/home/nik/Documents]
row=2
col=0

[/home/nik/Public]
row=6
col=0

[/home/nik/Pictures]
row=5
col=0

[/home/nik/Videos]
row=7
col=0

